<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

<!-- CSS files -->

<link rel="stylesheet" href="/public/Content/app.css">

<!-- Main Content -->
<main>

  <div class="aboutBanner">
    <!--<img src = "/Assets/images/lancesPic.jpg" alt = "Lance Palogan">-->
  </div>

  <h3>Hello, my name is Lance Palogan</h3>
  <h3>I am a second year student at Ontariotechu studying Networking and IT Security</h3>
  <h3>Here is a video that I like a lot that says a lot about me</h3>

  <video width="500" height="500" controls preload="auto" muted poster="guitar.jpg" id="video">
    <source src= "/Assets/The Most Beautiful 1 Minute Guitar Solo.mp4" type="video/mp4">
  </video>

</main>

<!--Script files-->
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>