<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

<!-- CSS files -->

<link rel="stylesheet" href="/public/content/app.css">

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contact me</h1>
    </div>
  </div>
</main>

<div class="contactBox">
    <form action=mailto:lance.palogan@ontariotechu.net ?subject=email Form method="post" enctype="text/plain" name="form">
        
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputFirstName1">First Name</label> 
        <input type="name" class="form-control" id="exampleInputFirstName1" placeholder="First Name">
      </div>

      <div class="form-group">
        <label for="exampleInputLastName1">Last Name</label>
        <input type="name" class="form-control" id="exampleInputLastName1" placeholder="Last Name">
      </div>

      <div class="form-group">
        <label for="exampleInputFirstName1">Phone number</label>
        <input type="tel" class="form-control" id="exampleInputPhoneNumber1" placeholder="Phone Number">
      </div>

      <div class="form-group">
        <label for="exampleInputFirstName1">Comments</label>
        <textarea name = "comments" cols = "50" rows = "6"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
  
    </form>
  </div>
</main>

  <!--Script files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>