<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

<!-- CSS files -->

<link rel="stylesheet" href="/public/content/app.css">

<!-- Main Content -->
<main>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="projectTitle ">Some past projects</h1>
    </div>
  </div>

  <div class="project1">
    <h2>Reservation System</h2>
    <h5><img src = "/Assets/images/sql.jpg" alt = "SQL Logo" width = "450" height = "270"/>This project heavily involved SQLite in order to manage the database in the reservation aspect of the project.</h5>
  </div>

  <div class="project2">
    <h2>Hangman<h2>
  </div>

</main>

<!--Script files-->
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>