/* custom css file goes here */ 


/* Keyframe scripts */
@keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes fadeIn { 
	0% {opacity: 0;} 
    100% {opacity: 1;} 

}     

h1{
    text-align: center;
    animation: slide-in-from-left 1000ms;
}

.column1, .column2, .column3{
    width: 25.3%;
    float: left;
    margin: 4%;
    overflow: auto;
    height: 25em;
    margin-bottom: 1em;
    background-color: #efefef;
    border-top-width: 10px;
    background-color: #8FAEE2;
    border-radius: 10px;
}

.column1:hover{
    transform: scale(1.1);
    transition: transform .2s

}

.column2:hover{
    transform: scale(1.1);
    transition: transform .2s
}

.column3:hover{
    margin-right: 0%;
    transform: scale(1.1);
    transition: transform .2s
}

h2{
    text-align: center;
    border-top-width: 10px;
}

.banner{
    height: 20em;
    margin-bottom: 1em;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8FAEE2;
    
    
}

.aboutBanner{
    animation-name: fadeIn; 				
	animation-duration: 3s;        			
	background-image: url("/Assets/images/lancesPic.jpg");
    height: 35em;
    margin-bottom: 1em;
    margin-top: 0%;
    background-color: #9bbef3;
    display: flex;
    background-position: center top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.project1, .project2{
    height: 20em;
    margin-top: 3em;
    margin-bottom: 2em;
    background-color: #efefef;
    
    justify-content: center;
    animation: slide-in-from-right 1000ms;
    background-color: #8FAEE2;

}

.project1{
    animation: slide-in-from-left 1000ms;
}

.contactBox{
    
    display: flex;
    justify-content: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #45a049;
}

h3 {
    text-align: center;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}




